.wrapper {
    height: 100vh;
    color: #eee5b5;
    background: #e1b0b2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 95px;
    font-weight: 700;
}

.text {
    font-size: 25px;
    font-weight: 400;
    padding-top: 20px;
    color: #180202;
}

.link {
    color: #180202;
    text-decoration: none;
}